@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Tenor+Sans&display=swap');

:root {
    --light-bg-color: #e1b935;
    --dark-bg-color:  #212932;
    --highlight-color: #ffeb3a;
}

.experience-card__light{
    background-color:var(--light-bg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.experience-card__dark, .experience-card__light{
    display:flex;
    flex-direction:column;
    border-radius:15px;
    margin-bottom:10px;
    padding:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    margin-left: 25px;
    margin-top:10px;
}

.experience-card__dark {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--dark-bg-color);
}

.experience-header{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-bottom:5px;
}

.experience-title__dark, .experience-title__light {
    font-size: 18px;
    margin-right: 10px;
}

.experience-title__dark,.experience-role__dark{
    color:var(--highlight-color);
}
.experience-title__light,.experience-role__light{
    color:var(--dark-bg-color);
}

.experience-skills{
    display:flex;
    flex-direction:row;
    margin-bottom:5px;
}

.experience-description{
   text-align:left;
}

.experience-role__dark, .experience-role__light{
    font-size:14px;
    font-style: italic;
}

.experience-length{
    width: 60px;
    margin-bottom:5px;
}

.page-section{
    padding: 20px;
}