@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Source+Code+Pro&display=swap');

:root {
    --light-bg-color: #e1b935;
    --dark-bg-color:  #212932;
    --highlight-color: #ffeb3a;
}

.about-me-section, .work-section, .experience-section{
    height:1000px;
    margin-left: 130px;
    margin-right: 130px;
}

.experience-section{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Source Code Pro', monospace;
}

.work-section{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.footer-section__dark,.footer-section__light {
    margin-bottom:10px;
    margin-left:50px;
    position:fixed;
    bottom:0px;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    font-family: 'Source Code Pro', monospace;
}

.footer-section__light{
    color:black
}
.footer-section__dark{
    color:white;
}

.get-in-touch__dark, .get-in-touch__light{
    padding-right:30px;
}


.email-me__light{
    cursor:pointer;
    padding-right:30px;
}
.email-me__light:hover{
    cursor:pointer;
    padding-right:30px;
    font-weight:bold;
}


.get-in-touch-link__light{
    color:black;
}
.get-in-touch-link__light:hover{
    font-weight:bold;
    color:black;
}

.email-me__dark{
    cursor:pointer;
    padding-right:30px;
}
.email-me__dark:hover{
    cursor:pointer;
    padding-right:30px;
    font-weight:bold;
}


.get-in-touch-link__dark{
    color:white;
}
.get-in-touch-link__dark:hover{
    font-weight:bold;
    color:white;

}

.cv-section{
    margin: 30px 60px 30px 30px;
    font-size:18px;
    display:flex;
    flex-direction:row;
}

.download-cv__light, .download-cv__dark{
    color:black;
    width: 100px;
    color: #ffeb3a;
    border: 1px solid #ffeb3a;
    height: 40px;
    font-size: 18px;
    border-radius: 2px;
}

.download-cv__light{
    background-color:var(--light-bg-color);
}

.download-cv__dark{
    background-color:var(--dark-bg-color);
}

.download-cv__light:focus,
.download-cv__light:hover,
.download-cv__light:active,
.download-cv__dark:focus,
.download-cv__dark:hover,
.download-cv__dark:active{
    cursor:pointer;
}

.download-cv__dark:focus,.download-cv__dark:hover,.download-cv__dark:active {
    cursor:pointer;

}
.download-cv__dark:focus,.download-cv__dark:hover{
    box-shadow: 1px 1px 15px 0px rgb(255,255,255);
}


