@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Tenor+Sans&display=swap');


.about-me-section{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    font-family: 'Tenor Sans', sans-serif;
font-size:22px;
}