@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Source+Code+Pro&display=swap');

:root {
    --light-bg-color: #e1b935;
    --dark-bg-color:  #212932;
    --highlight-color: #ffeb3a;
}

.about-me-section{
    margin-top:100px;
    font-family: 'Open Sans', sans-serif;
    font-size:22px;
    align-items:center;
}

.about-section{
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding-bottom:200px
}

.about-me-photo__light,.about-me-photo__dark {
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
    width: 300px;
    border-radius: 10px;
    filter: brightness(0.7);
    transition: all 0.1s linear;
}
.about-me-photo__light:hover,.about-me-photo__dark:hover {
    filter: brightness(0.99);
    transition: all 0.1s linear;
}


.about-me-text, .education-text{
    padding-left:20px;
    font-size:16px;
    margin-right:30px;
    margin-left:30px;
    padding-bottom: 5px;
    font-family: 'Source Code Pro', monospace;

}

.about-me-description{
    margin-top:30px;
}