@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@100&display=swap');

.header {
  margin-top:70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.05s linear;
  font-family: 'Lato', sans-serif;
  height: 100px;
}

.theme-toggle {
  height: 25%;
  width: auto;
}
.icon {
  width: 20px;
  padding-bottom: 3px;
}

.theme-toggle {
  background-color: #000000 !important;
}
.title {
  font-size: 25px;
  width: 540px;
  margin-right: 10px;
  transition: all 0.05s linear;
}
.image {
  width: 150px;
  margin-top:30px;
  border-radius: 150px;
  border: 2px solid black;
}

